*.swp
*.floydexpt
*.h5
nohup.out
.ipynb_checkpoints
checkpoints
data
Untitled.ipynb
__pycache__
cifar-10-batches-py
cifar-10-python.tar.gz
notMNIST.pickle
notMNIST_test.zip
notMNIST_train.zip
text8.zip
preprocess.p

